body{
    overflow-x: hidden;
    overflow-y: hidden;
}

.mytitle{
    color: #555555;
    font-size: 25px;
}

.modal-header{
    background-color: #FFAE19;
    color: #ffffff;
}

.titleModal{
    font-size: 18px;
}
